BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "rstn_i" SITE "B3" ;
LOCATE COMP "rxd_i" SITE "A11" ;
LOCATE COMP "txd_o" SITE "C11" ;
IOBUF PORT "rstn_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rxd_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "txd_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[7]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "led_o[0]" SITE "H11" ;
LOCATE COMP "led_o[1]" SITE "J13" ;
LOCATE COMP "led_o[2]" SITE "J11" ;
LOCATE COMP "led_o[3]" SITE "L12" ;
LOCATE COMP "led_o[4]" SITE "K11" ;
LOCATE COMP "led_o[5]" SITE "L13" ;
LOCATE COMP "led_o[6]" SITE "N15" ;
LOCATE COMP "led_o[7]" SITE "P16" ;
LOCATE COMP "led_ctl_o" SITE "A13" ;
LOCATE COMP "debug_o" SITE "T12" ;
