<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.lattice.sdp.builder.launchConfigurationType">
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${eclipse_home}/../../tools/python38_embed/python.exe"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="&quot;${eclipse_home}/../../pge/engines/pge_main.pyc&quot; sge -i &quot;${project_loc}/${project_name}/${project_name}.sbx&quot; -o &quot;${project_loc}&quot;"/>
    <booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${project_loc}"/>
</launchConfiguration>
